$oWhite_1:rgba(255, 255, 255, 0.98);
$oWhite_2:rgba(255, 255, 255, 0.8);
$white:rgb(255, 255, 255);

$light_gray:rgb(221, 221, 221);
$gray:rgb(166, 166, 166);
$gray_1:rgb(195, 195, 195);

$blue_1:#3d6374;
$blue_2:#283b49;
$blue_3:#b1d4dd;

$beige_1:#f5efdd;

$orange_1:#ff6b03;
$black:rgb(0, 0, 0);

$red: #ff0d56;