.link{
    text-decoration: none;

}
.footer__link{
    color: $white;
    padding-bottom: .3em;
    display: inline-block;
   &:after{
       content: "";
       display: block;
       height: 1px ;
       width: 110%;
       background:white;
   }
    &:hover,&:focus{
        color: $orange_1;
    }
}
.link--logo{
  color: black;
}
.header_link{
  color: inherit;
}