.article{
	margin-bottom: 1.5em;
  	//max-width: 700px;
  h3{
	font-weight: 400;
	color: $gray_1;
	margin: 1em 0 .8em;
  }
}
.article-container{
  p,ul,ol{
	font-family: $serif;
  }
}
.article_paragraph{
  margin-bottom: 1.5em;
  font-family: $serif;
}
.article_paragraph p{
  margin-bottom: 1.5em;
  font-family: $serif;
}