.article{

}
.article-container{
  p,ul,ol{
	font-family: $serif;
  }
  h2{
    margin-top: 2.5em;
    margin-bottom: 1em;
  }
  h3{
    margin-top: 2em;
    margin-bottom: 1em;
  }
  h4{
    margin-top: 2em;
    margin-bottom: 1em;
  }
}
.article_paragraph {
  margin-bottom: 1.5em;
}