.form-wrapper {
  //max-width: 800px;
}

.ninja-forms-required-items,.ninja-forms-response-msg.ninja-forms-error-msg{
  display: none;
}
.ninja-forms-form input[type=text], .ninja-forms-form textarea {
  border: 2px solid $light_gray;
  padding: 1%;
  outline: none;
  color: $orange_1;
  &:hover, &:focus {
    border-color: $orange_1;
  }
}

.ninja-forms-form {
  select {
    background: transparent; /* 13 */
    background-image: none; /* 13 */
    -webkit-appearance: none; /* 13 */
    -moz-appearance: none; /* 13 */
    appearance: none; /* 13 */
    text-indent: 0.01px; /* 14 */
    text-overflow: ''; /* 14 */
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 2px solid $light_gray;
    padding: 1%;
    @extend .transition;
    outline: none;
    position: relative;
    &:hover, &:focus {
      border-color: $orange_1;
    }
    &:before {

    }
  }
}



.ninja-forms-form .ninja-forms-req-symbol {
  color: $red;
}

.ninja-forms-field-error {
  background: $red;
}

.ninja-forms-required-items {
  font-style: italic;
}

.ninja-forms-form .ninja-forms-field-error {
  color: $white;
  -webkit-border-radius: 0 0 .3em .3em;
  -moz-border-radius: 0 0 .3em .3em;
  border-radius: 0 0 .3em .3em;
  padding: .2em .5em;
}

.nf-desc {
  display: none;
}

div#ninja_forms_field_7_div_wrap {
  margin-bottom: 2em;
}

input[type=submit].ninja-forms-field {
  display: block;
  width: 100%;
  border: none;
  background-color: $light_gray;
  color: white;
  padding: 1%;
  font-size: $inuit-heading-size-3;
  -webkit-border-radius: .2em;
  -moz-border-radius: .2em;
  border-radius: .2em;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: .2em;
  @extend .transition;
  &:hover {
    color: $orange_1;
  }
}

label + .ninja-forms-field-description {
  display: none;
}

label:focus + .ninja-forms-field-description {
  display: block;
}
.list-dropdown-wrap{
  position: relative;
  &:before{
    content: "";
    display: block;
    position: absolute;
    top:  $inuit-base-spacing-unit--large;
    right: $inuit-base-spacing-unit;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 15px 0 15px;
    border-color: $orange_1 transparent transparent transparent;
    line-height: 0px;
    _border-color: $orange_1 #000000 #000000 #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
  }
}