.contact_container{
    text-align: center;
}
.container__header{
    font-size: $inuit-heading-size-1*2;
    font-weight: 100;
    color: $blue_2;
    text-align: center;
    padding-bottom: 10px;
}
.contact_meta{
    padding-bottom: 2.3em;
    display: block;
}
