.make_item{
    padding-bottom: $inuit-base-spacing-unit--large;
    .icon{
        width: 80px;
        height: 80px;
    }
}
.make_item__header{
    text-transform: uppercase;
    font-weight: 100;
    text-align: center;
    padding: .5em 0;
}
