div(class="header--fixed")
    div(class="wrapper")
        div(class="header grid-layout" role="baner")
            div(class="logo grid-layout__item u-3/12")!='<svg viewBox="0 0 100 100" class="icon main-logo"><use xlink:href="#shape-logo"></use></svg><p class="slogan">Centre Alpha</p>' 
            div(class="menu-container transition logo grid-layout__item u-9/12")
                a(title="Ouvrir la navigation" href="#" class="open_nav")
                    svg(viewbox="0 0 64 64")
                        line(id="nav-line-1" x1="8" x2="56" y1="16" y2="16" class="nav-line")
                        line(id="nav-line-2" x1="8" x2="56" y1="32" y2="32" class="nav-line")
                        line(id="nav-line-3" x1="8" x2="56" y1="48" y2="48" class="nav-line")
                        line(x1="16" x2="48" y1="16" y2="48" class="cross-line")
                        line(x1="16" x2="48" y1="48" y2="16" class="cross-line")
                        rect(width="42" height="42" x="11" y="11" class="rect")
                ul(class="nav nav--block text--right")
                    each href, lien in nav 
                           li(class="")
                               a(href=href,title="Ouvre la page" class="transition main-vavigation__link")= lien
                    li(class="search-tool")
                        a(href="#", class="show-search")
                            svg(viewBox="0 0 100 100" class="icon search-tool")
                                use(xlink:href="#shape-search")
                        form(id="", method="", action="",class="search-form transition")
                            div(class="search-form-wrapper")
                                input(type="text",class="form-input")
                                label(for='recherche',class="search-form-label transition") Introduisez votre rechcerhe
                                button(type="submit", class=" visuallyhidden--lap-and-up") Rechercher
