div(class="header--fixed")
    div(class="wrapper")
        div(class="header grid-layout" role="baner")
            div(class="logo grid-layout__item u-3/12")!='<svg viewBox="0 0 100 100" class="icon main-logo"><use xlink:href="#shape-logo"></use></svg><p class="slogan">Centre Alpha</p>' 
            div(class="menu-container logo grid-layout__item u-9/12")
                ul(class="nav nav--block text--right")
                    each href, lien in nav 
                           li(class="")
                               a(href=href,title="Ouvre la page" class="transition main-vavigation__link")= lien
                    li(class="search-tool")
                        a(href="#", class="show-search")
                            svg(viewBox="0 0 100 100" class="icon search-tool")
                                use(xlink:href="#shape-search")
                        form(id="", method="", action="",class="search-form transition")
                            div(class="search-form-wrapper")
                                input(type="text",class="form-input")
                                label(for='recherche',class="search-form-label transition") Introduisez votre rechcerhe
                                button(type="submit", class="accessibility visuallyhidden") Rechercher
