meta(charset="utf-8")
meta(http-equiv="x-ua-compatible" content="ie=edge")
include ./_favicon.jade
meta(name="keywords" content="Designer,étudiant,belge,nouvelles technologies, sites web,web designer,front-end,applications mobiles,ergonomique, l’accessibilité,performants,HTML5,CSS3,JavaScript")
meta(name="viewport" content="width=device-width, initial-scale=1")
link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700' rel='stylesheet' type='text/css')
script(src="./js/modernizr-2.8.3.min-min.js")
link(rel="stylesheet", type="text/css", href="css/main.css")
