.carte-container {
  width: 100%;
  pointer-events: none;
  min-height: 30vh;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  position: relative;
  bottom: -7px;
  min-height: 300px;
}
