.prince-container--institution{
  min-height: 280px;
}
.institution__tel__title,.institution__tel__open{
  margin-bottom: 1em;
  min-height: 50px;
}
.institution__tel{
  font-weight: bold;
  span{
    font-size: 0;
  }
}
.institution__tel+.institution__tel{
  margin-top: 1em;
}