.header--fixed {
  background: $oWhite_2;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10000;
}
.header ul{
  list-style-type: none;
  li{
    position: relative;
  }
}
.header {
  li > a {
    font-size: $inuit-heading-size-5;
    text-decoration: none;
    color: $gray;
    &:hover,&:focus {
      color: $orange_1;
      text-decoration: underline;
    }
  }
}

.nav--block > li > a {
  padding-top: $inuit-base-spacing-unit;
}

.slogan {
  position: relative;
  top: -$inuit-base-spacing-unit--small;
  padding-left: $inuit-base-spacing-unit--small;
  display: inline;
}


.sub-menu{
  background: $white;
  position: absolute;
  top: -$inuit-base-spacing-unit*20;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  a{
    display: block;
    text-align: left;
    padding: $inuit-base-spacing-unit--small;
  }
}
a:focus+.sub-menu,a:hover+.sub-menu,li:hover .sub-menu,li:active .sub-menu,.sub-menu--active{
  top: $inuit-base-spacing-unit*2+4;
}

@media (min-width: 820px) {
  .search-form {
    padding-top: 2%;
    position: fixed;
    top: -200%;
    left: 0;
    right: 0;
    background: white;
  }
  .form-input {
    display: block;
    line-height: 48px;
    border: none;
    border-bottom: 1px solid $gray;
    background: none;
    margin-top: 2%;
    position: relative;
    z-index: 1;
    outline: none;
    width: 100%;
    font-size: $inuit-heading-size-2;
  }
  .search-form-wrapper {
    width: 80%;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  .search-form-label {
    position: absolute;
    top: 13px;
    font-size: $inuit-heading-size-2;
    font-weight: bold;
    color: $gray;
    left: 0;
  }
  .form-input:focus + .search-form-label, .search-form-label--active {
    top: -$inuit-base-spacing-unit;
    color: $light_gray;
  }
  .search-form--open {
    bottom: 0;
    top: 56px;
  }
}

@media (max-width: 900px) {
  .header {
    li > a {
      font-size: $inuit-heading-size-5;
    }
  }

}

$size: 64px;
.open_nav {
  width: $size;
  height: $size;
  position: fixed;
  right: $inuit-base-spacing-unit--small;
  top: 30px;
  margin-left: -$size/2;
  margin-top: -$size/2;
  cursor: pointer;
  display: none;
  z-index: 1000000;
  .rect {
    stroke-width: 0;
    stroke: $orange_1;
    fill: transparent;
    transform-origin: 50% 50%;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  .cross-line {
    stroke: red;
    stroke-width: 0;
    transform-origin: 50% 50%;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
  }
  .nav-line {
    stroke: gray;
    transform-origin: 50% 50%;
    stroke-width: 2px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
  }
  &:hover, &:focus {
    .rect {
      stroke-width: 1;
      -moz-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    .nav-line {
      -moz-transform: scale(0.5);
      -webkit-transform: scale(0.5);
      -o-transform: scale(0.5);
      -ms-transform: scale(0.5);
      transform: scale(0.5);
    }
    #nav-line-1 {
      -moz-transform: scale(0.5) translateY(10px);
      -webkit-transform: scale(0.5) translateY(10px);
      -o-transform: scale(0.5) translateY(10px);
      -ms-transform: scale(0.5) translateY(10px);
      transform: scale(0.5) translateY(10px);
    }

    #nav-line-3 {
      -moz-transform: scale(0.5) translateY(-10px);
      -webkit-transform: scale(0.5) translateY(-10px);
      -o-transform: scale(0.5) translateY(-10px);
      -ms-transform: scale(0.5) translateY(-10px);
      transform: scale(0.5) translateY(-10px);
    }
  }
  &.active {
    .cross-line {
      stroke-width: 2;
      -moz-transform: scale(0.8);
      -webkit-transform: scale(0.8);
      -o-transform: scale(0.8);
      -ms-transform: scale(0.8);
      transform: scale(0.8);

    }
    .nav-line, #nav-line-1, #nav-line-3 {
      -moz-transform: scale(0.01);
      -webkit-transform: scale(0.01);
      -o-transform: scale(0.01);
      -ms-transform: scale(0.01);
      transform: scale(0.01);
    }

    &:hover, &:focus {
      .cross-line {
        -moz-transform: scale(0.6);
        -webkit-transform: scale(0.6);
        -o-transform: scale(0.6);
        -ms-transform: scale(0.6);
        transform: scale(0.6);
      }
    }
  }
}

@media (max-width: 820px) {
  .open_nav {
    display: block;
  }
  .nav > li, .nav > li > a {
    display: block;
  }
  .header--fixed {
    background: none;
    color: white;
  }
  .header .nav {
    li > a {
      text-align: right;
    }
  }
  .menu-container {
    max-width: 300px;
    position: fixed;
    right: -310px;
    top: 0;
    bottom: 0;
    background: rgba(9, 9, 9, 0.9);
  }
  body {
    overflow-x: hidden;
  }
  .menu-container--open {
    right: 0;
  }
}
