.footer {
  background: $orange_1;
  color: white;
  padding-top: 3em;
  margin-top: 5em;
}

.home .footer {
  margin-top: 0;
}

.copy {
  margin-top: 3em;
  background: $blue_2;
  padding: .5em 0;
}

.footer__navigation {
  margin: 1em 0;
}

.footer_nav, .footer_nav ul {
  list-style-type: none;
  a {
    color: $white !important;
    display: block;
  }
}

.footer__navigation ul.sub-menu {
  margin-left: $inuit-base-spacing-unit--small;
  list-style-type: none;
}

.footer__navigation a {
  @extend .footer__link;
}
