.questions-container {
  border-left: 1px solid $gray_1;
  padding-left: $inuit-base-spacing-unit;
  margin-bottom: $inuit-base-spacing-unit--large;
}

.questions {
  font-weight: bold;
}

.answer {
  font-style: italic;
}