body>svg:first-child{
    display: none;
}

.icon {
    display: inline-block;
    width: 32px;
    height: 32px;
}

.search-tool{
  width: 20px;
  height: 20px;
}
.main-logo{
    width: 50px;
    height: 50px;
}
