div(class="wrapper")
        p(class="alpha")="Ne restez pas seul dans votre soufrance"
        p(class="giga")=" Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, iste perspiciatis."
        a(href="#", class="btn btn--bog btn--gray btn--bold")="Nous contacter"
