div(class="color-container color-container--introcution")
    div(class="wrapper")
        h1(class="main-header")!='Un super slogan de la mort qui tue <span class="main-slogant">Un plus petite slogan de la mort qui tue qui est un peu plus court</span>'
        div(class="contact-container grid-layout",role="navigation")
            a(href="#" class="contact-container__item grid-layout__item lap--u-1/2 palm-u-one-whole u-1/3")
                svg(viewBox="0 0 100 100" class="icon shape-mail")
                    use(xlink:href="#shape-mail")                
            a(href="#" class="contact-container__item grid-layout__item lap--u-1/2 palm-u-one-whole u-1/3")
                svg(viewBox="0 0 100 100" class="icon shape-tel")
                    use(xlink:href="#shape-tel")                
            a(href="#" class="contact-container__item grid-layout__item lap--u-1/2 palm-u-one-whole u-1/3")
                svg(viewBox="0 0 100 100" class="icon shape-location")
                    use(xlink:href="#shape-location")
