div(class="color-container color-container--introcution")
    div(class="wrapper")
        h1(class="main-header")!='Un super slogan de la mort qui tue <span class="main-slogant">Un plus petite slogan de la mort qui tue qui est un peu plus court</span>'
