div(class="slider")
    div(class="wrapper slider--wrapper")
        ul(class="list-bare")
            li(class="slider__item beta")="1Lorem ipsum dolor sit amet, consectetur adipisicing elit."
            li(class="slider__item slider__item--active beta")="2Lorem ipsum dolor sit amet, consectetur adipisicing elit."
            li(class="slider__item beta")="3Lorem ipsum dolor sit amet, consectetur adipisicing elit."
        div(class="target",role="navigation")
            a(href="#", class="target__link")
                svg(viewBox="0 0 100 100" class="icon shape-boullet")
                    use(xlink:href="#shape-boullet")
            a(href="#", class="target__link target__link--active")
                svg(viewBox="0 0 100 100" class="icon shape-boullet")
                    use(xlink:href="#shape-boullet")
            a(href="#", class="target__link")
                svg(viewBox="0 0 100 100" class="icon shape-boullet")
                    use(xlink:href="#shape-boullet")            
        a(href="#", class="target__link")
            svg(viewBox="0 0 100 100" class="icon slider__before")
                use(xlink:href="#shape-next")
        a(href="#", class="target__link")
            svg(viewBox="0 0 100 100" class="icon slider__next")
                use(xlink:href="#shape-next")
