div(class="slider-container")
    div(class="wrapper slider-wrapper")
        div(id="slider", class="slider")
            ul
                li(class="beta slider__item")="J’arreterai demain."
                li(class="beta slider__item")="C’est la dernière fois."
                li(class="beta slider__item")="Ca fait encore plus mal de décrocher."
        a(href="#", class="control_prev")
            svg(viewBox="0 0 100 100" class="icon slider__before")
                use(xlink:href="#shape-next")
        a(href="#", class="control_next")
            svg(viewBox="0 0 100 100" class="icon slider__next")
                use(xlink:href="#shape-next")
